.coinContainer{
    display:flex;
    justify-content: center;
}
.coinRow{
    display:flex;
    flex-direction: row;
    justify-content: Start;
    align-items: centre;
    height: 80px;
    border: 1px solid #fff;
    width : 80%;
    margin-bottom: 30px;
   
}

.coin{
    display:flex;
    align-items:center;
    min-width: 30%;
}
  
  .coin {
    display: flex;
    align-items: center;
    min-width: 300px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    margin-left:20px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coinSymbol {
    text-transform: uppercase;
  }
  
  .coinData {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coinPrice {
    padding-top: 7px;
    width: 110px;
  }
  
  .coinVolume {
      padding-top: 7px;
    width: 155px;
  }
  
  .coinMarketCap {
    padding-top: 7px;
    width: 230px;
    margin-right:20px ;
  }
  
  .coinPercentage{
    padding-top: 7px;
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }
  